* {
    margin: 0;
    padding: 0;
    font-family: 'VT323', monospace;
}

:root {
    --clr-body: #181319;
    --clr-text: #e2d6eb;
    --clr-text2: #b9adc2;
    --clr-cor2: #2e222f;


}

body {
    background-color: var(--clr-body);
    color: var(--clr-text2);
}

header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-cor2);
    width: 90%;
    height: 60px;
    border-width: 10px;
    border-style: solid;
    border-image-source: url(images/testeborda.png);
    border-image-slice: 30 30 30 30;
    border-image-repeat: stretch;
}

a{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--clr-text2);
    text-decoration: none;
    background-color: var(--clr-body);
    width: 100px;
    height: 30px;
    border-width: 10px;
    border-style: solid;
    border-image-source: url(images/testeborda2.png);
    border-image-slice: 30 30 30 30;
    border-image-repeat: stretch;
    transition: all 600ms;
}
a:hover{
    transform: scale(1.05);
    background-color: #2e222f;
}

section{
    max-width: clamp(300px, 90vw, 1000px);
    background-color: #2e222f;
    height: auto;
    margin: 0 auto;
    border-width: 10px;
    border-style: solid;
    border-image-source: url(images/testeborda2.png);
    border-image-slice: 30 30 30 30;
    border-image-repeat: stretch;
    padding: 20px;
    margin-bottom: 30px;
}

section h1{
    text-align: center;
    color: var(--clr-text2);
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .banner img:nth-child(n+6) {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .banner img:nth-child(n+5) {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .banner img:nth-child(n+4) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .banner img:nth-child(n+3) {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .banner img:nth-child(n+2) {
        display: none;
    }
}



.gallery2{
    max-width: clamp(200px, 90vw, 1000px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
    margin: 0 auto;
    
}

.gallery2 img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    border-width: 10px;
    border-style: solid;
    border-image-source: url(images/testeborda2.png);
    border-image-slice: 30 30 30 30;
    border-image-repeat: stretch;
}

.gallery2 img:hover{
    transform: scale(1.02);
}

/* ilustração */
.gallery3{
    max-width: clamp(200px, 90vw, 1000px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 10px;
    margin: 0 auto;
    
}

.gallery3 img{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    border-width: 10px;
    border-style: solid;
    border-image-source: url(images/testeborda2.png);
    border-image-slice: 30 30 30 30;
    border-image-repeat: stretch;
}

.gallery3 img:hover{
    transform: scale(1.02);
}


.gallery img:hover{
    transform:scale(1.05);
}



/* 
coisas não muito necessarias */

.text1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size:x-large;
    text-align: center;
}




.img{
    box-sizing: border-box;
    width: 80%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
    border-width: 10px;
    border-style: solid;
    border-image-source: url(images/testeborda2.png);
    border-image-slice: 30 30 30 30;
    border-image-repeat: stretch;
}
.text2{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-top: 20px;
    font-size:x-large;
    text-align: center;
    width: 50%;
}
@media screen and (max-width: 799px){
    .text2{
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        margin-top: 20px;
        font-size:x-large;
        text-align: center;
        width: 100%;
    }
}
