:root {
    /* fundo da pagina */
    --clr-body: #181319;
    /* fundo dos cards */
    --clr-card: #241c25;
    /* borda do header dos cards */
    --clr-border: #b9acd2;
    /* texto normal */
    --clr-text: #e2d6eb;
    /* texto links */
    --clr-link: tomato;
    /* texto navbar */
    --clr-nav: #ffffff;
    /* fundo do footer */
    --clr-footer: #333333;
    /* texto tooltip linkedin instagram etc */
    --clr-tooltip: #2e222f;
    /* fundo tooltip lnkedin */
    --clr-linkedin: #0274b3;
    /* fonte custom */
    --font: 'VT323', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font), Arial, sans-serif;
}

body {
    background-color: var(--clr-body);
    color: var(--clr-text);
}

img {
    max-height: clamp(100px, 100%, 400px);
    max-width: clamp(100px, 100%, 400px);
}

a {
    color: var(--clr-link);
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cabessario */
header {
    flex-direction: column;
    font-family: var(--font);
    padding-top: 20px;
    padding-bottom: 20px;
}

header img {
    max-width: 200px;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: var(--clr-white);
    font-size: 1.2em;
}


.banner {
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
    .banner img:nth-child(n+6) {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .banner img:nth-child(n+5) {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .banner img:nth-child(n+4) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .banner img:nth-child(n+3) {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .banner img:nth-child(n+2) {
        display: none;
    }
}


main {
    width: clamp(300px, 94vw, 800px);
    margin: 0 auto;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 200px;
}

section {
    width: 100%;
    background-color: var(--clr-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section .card-header {
    width: 100%;
    position: relative;
}

section .card-border-bl,
section .card-border-br,
section .card-border-bt {
    image-rendering: pixelated;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

section .card-border-bl {
    width: 6px;
    height: 34px;
    left: -2px;
}

section .card-border-br {
    width: 6px;
    height: 34px;
    right: -2px;
}

section .card-border-bt {
    top: 0;
    left: 4px;
    height: 2px;
    width: calc(100% - 8px);
}

section h2 {
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    border-bottom: 2px solid var(--clr-border);
}

section .card {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

section .card .card-item {
    width: 50%;
    padding: 10px 20px 20px 20px;
}

.about-text {
    font-size: x-large;
}

.about-img {
    display: block;
    margin: 0 auto;

    max-height: 100%;
    max-width: 100%;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-image {
    padding: 5px;
    width: 33%;
}



.titulo-texto{
    text-align: center;
    font-size: larger;
}




.contacts-list .icon-content {
    margin: 0 10px;
    position: relative;
    padding: 0.5rem;
}

.contacts-list .icon-content .tooltip {
    position: absolute;
    top: 100%;
    right: 110%;
    transform: translateY(200%);
    color: #2e222f;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
}

.contacts-list .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -66px;
}

.contacts-list .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #2e222f;
    transition: all 0.3s ease-in-out;
}

.contacts-list .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.contacts-list .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.contacts-list .icon-content a:hover {
    color: white;
}

.contacts-list .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
}

.contacts-list .icon-content a:hover .filled {
    height: 100%;
}

.contacts-list .icon-content a[data-social="X"] .filled,
.contacts-list .icon-content a[data-social="X"]~.tooltip {
    background-color: #0274b3;
}

.contacts-list .icon-content a[data-social="github"] .filled,
.contacts-list .icon-content a[data-social="github"]~.tooltip {
    background-color: #24262a;
}

.contacts-list .icon-content a[data-social=""] .filled,
.contacts-list .icon-content a[data-social=""]~.tooltip {
    background: linear-gradient(45deg,
            #405de6,
            #5b51db,
            #b33ab4,
            #c135b4,
            #e1306c,
            #fd1f1f);
}

.contacts-list .icon-content a[data-social="youtube"] .filled,
.contacts-list .icon-content a[data-social="youtube"]~.tooltip {
    background-color: #ff0000;
}

@media screen and (max-width: 799px) {

   
    .card {
        flex-direction: column;
    }

    section .card .card-item {
        width: 100%;
    }


    .gallery-image {
        width: 50%;
    }
}





.c{
    text-align: center;
    margin-bottom: 20px;
}
.R{
    background-color: var(--clr-card);
    margin: 0 auto;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #b9acd2;


}
